{{/*
Validate platform configuration
*/}}
{{- include "harmony.validatePlatform" . }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "harmony"
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "harmony.labels" . | nindent 4 }}
spec:
  serviceName: {{ .Values.service.headless.name }}
  selector:
    matchLabels:
      {{- include "harmony.selectorLabels" . | nindent 6 }}
  replicas: {{ .Values.harmony.statefulset.replicas }}
  template:
    metadata:
      labels:
        {{- include "harmony.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Values.harmony.image.name }}
        image: "{{ .Values.harmony.image.repository }}:{{ .Values.harmony.image.tag }}"
        imagePullPolicy: {{ .Values.harmony.image.pullPolicy }}
        args: ["-s", "service"]
        env:
        - name: CLEO_SYSTEM_NAME
          value: {{ .Values.harmony.env.systemName | quote }}
        - name: CLEO_SECRETS_MOUNT_POINT
          value: {{ .Values.harmony.env.secretsMountPoint | quote }}
        volumeMounts:
        - name: runtimesecrets
          mountPath: {{ .Values.harmony.env.secretsMountPoint }}
          readOnly: true
        {{- if .Values.persistence.enabled }}
        - name: shared-storage
          mountPath: {{ .Values.persistence.mountPath }}
        {{- end }}
        resources:
          {{- toYaml .Values.harmony.resources | nindent 10 }}
      volumes:
      - name: runtimesecrets
        projected:
          sources:
          {{- range .Values.harmony.volumes.secrets.sources }}
          {{- if or (ne .secretName "cleo-log-system") .optional }}
          - secret:
              name: {{ .secretName }}
              optional: {{ default false .optional }}
          {{- end }}
          {{- end }}
      {{- if .Values.persistence.enabled }}
      - name: shared-storage
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.claimName }}
      {{- end }}
  ordinals:
    start: {{ .Values.harmony.statefulset.ordinalStart }}
